<div class="container">
  <h2>Acerca de Presu</h2>

  <p>Presu es una herramienta sencilla para realizar presupuestos
    de proyectos.</p>

  <p>Actualmente está usando la versión: <code>{{app-version}}</code></p>
</div>
