
<div class="container">
  <h2>Presupuestos</h2>

  <div class="padding-vertical">
    <button disabled class='btn btn-danger btn-sm'>{{fa-icon "plus"}} Crear un presupuesto</button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Título del presupuesto</th>
      </tr>
    </thead>

    <tbody>
      {{#each model as |presupuesto|}}
        <tr>
          <td>{{presupuesto.titulo}}</td>
        </tr>
      {{/each}}
    </tbody>

  </table>

</div>
